@()

<div align="center" style="font-family: verdana, Lucida Grande, arial, helvetica, sans-serif; background-color: #ffffff;">
  <div style="font-size: 0.75em; color: #666666">Scalactic is brought to you by: <a style="font-size: 0.85em; color: #0069A6;" target="_blank" href="https://www.artima.com"><img src="https://www.artima.com/assets/images/artimablackRGBDialogPage.png" width="66"></a>
  </div>
  <div style="margin 50 auto 50 auto;">
    <a style="font-size: 0.7em; color: #0069A6;" target="_blank" href="https://www.artima.com">New for Scala 3 - Advanced Programming in Scala, Fifth Edition (PrePrint) is available!</a>
  </div>
</div>